.container {
    display: flex;
    width: 700px;
    height: 500px;
    
    span {
        font-size: 100px;
        font-family: Impact;
        padding: 30px 100px;
        color: #ffcf7d;
    }
}